<form action="/notices" method="POST">
  <div class="form-outline mb-4">
    <label class="form-label" for="title">Title</label>

    <input type="text" id="title" name="title" class="form-control" />
  </div>

      <label for="nType">Notice Type</label>
          <select name="nType" class="form-control" id="nType">
            <option>Statement</option>
            <option>Important</option>
            <option>Assignments</option>
          </select>
  <div class="form-outline mb-4">
    <label class="form-label" for="content">Content</label>

    <textarea required class="form-control" id="content" name="content"
     rows="4"></textarea>
  </div>





  <!-- Submit button -->
  <a href="/" class="btn btn-secondary mb-4"> Cancel</a>
  <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
</form>
