<form action="/articles" method="POST">
  <!-- Name input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="title">Title</label>

    <input type="text" id="title" name="title" class="form-control" />
  </div>

  <!-- Email input -->
  <!-- <div class="form-outline mb-4">
    <label class="form-label" for="author"> Author </label>

    <input required type="text" id="author" name="author" class="form-control" />
  </div> -->

  <label for="author">Author</label>
      <select required name="author" class="form-control" id="author">
        <option>Sohan</option>
        <option>Other</option>
      </select>








  <!-- Message input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="content">Content</label>

    <textarea required class="form-control" id="content" name="content"
     rows="4"></textarea>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="markdown">Markdown</label>
    <textarea class="form-control" id="markdown" name="markdown"
     rows="4"> </textarea>
  </div>



  <!-- Submit button -->
  <a href="/" class="btn btn-secondary mb-4"> Cancel</a>
  <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
</form>
